@import "./variables.css";
/*dark font major*/
.dFMa {
  color: var(--FontDarkMajor);
}
/*dark font minor*/
.dFMi {
  color: var(--FontDarkMinor);
}
/*light font major*/
.lFMa {
  color: var(--FontLightMajor);
}
/*light font minor*/
.lFMi {
  color: var(--FontLightMinor);
}

/*dark theme box model*/

.dBMoBrdr {
  border-color: var(--BoxMinor);
}

.lBMoBrdr {
  border-color: var(--BoxMajor);
}

/*test class*/
.dark {
  color: var(--FontDarkMajor);
  border-color: var(--BoxMinor);
  stroke: #fff;
}

.light {
  color: var(--FontLightMajor);
  border-color: var(--BoxMajor);
  stroke: var(--BoxMajor);
}

.bodyDark {
  background-color: rgb(19, 19, 19);
}
.bodyLight {
  background-color: rgb(255, 255, 255);
}
