:root {
  --BoxMajor: #444444;
  --BoxMinor: #cecece;
  --FontDarkMajor: #fff;
  --FontDarkMinor: #f2f2f2;
  --FontMajor: #444444;
  --FontMinor: #929292;
  --Raleway: "Raleway", sans-serif;
  --nav-bg-color: #fff;
  --background: #fff;
  --searchbar: rgba(143, 209, 192, 0.11);
}
